.pause, .play{
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: absolute;
	top: 0;
}
.line{
	position: absolute;
	width: 8px;
	height: 50%;
	background: #000;
	border-radius: 10px;
	transition: all 400ms cubic-bezier(.8, 0, .33, 1);
}
.pause{
	.line{
		&_1{ margin: 25% 0; left: 28% }
		&_2{ margin: 100% -16%; right: 45%; transition-delay: 200ms }
	}

	&.active{
		.line{
			opacity: 1;
			&_1{ margin: 25% 0; left: 28% }
			&_2{ margin: 25% 0; right: 28% }
		}
	}
}
.play{
	.line{
		margin: 25% 0;
		&_1{ left: 28% }
		&_2{ height: 56%; left: 60%; transform: rotate(-55deg) translateY(-128px) translateX(16px); transition-delay: 100ms }
		&_3{ height: 56%; left: 60%; transform: rotate(55deg) translateY(-128px) translateX(16px); transition-delay: 200ms }
	}
	&.active{
		.line{
			opacity: 1;
			height: 62%;
			margin: 20% 0;
			&_1{ left: 28%; transform: translateY(-2px) }
			&_2{ height: 56%; left: 63%; transform: rotate(-55deg) translateY(-16.5px) translateX(2px) }
			&_3{ height: 56%; left: 63%; transform: rotate(55deg) translateY(16px) translateX(2px) }
		}
	}
}

